name: Push PR

on: 
	push:
		branches:
			- main
			- "release/**"
		path: 
			- "src/**"
		pull_request:
			branches:
				- main
				- "release/**"
jobs:
	test:
		runs-on: ubuntu-latest
        
		steps:
		- name: Checkout repository
		  uses: actions/checkout@v6.0.1
 
		- name: Run tests
		  run: npm test 